/* proprietà generali */
*{
    margin:0;
    box-sizing: border-box;
}

/* regole barra di navigazione */
#navbar{
    height: 50px;
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;
    align-items:center;
}

#flex-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.nav-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
}

.col-nav{
    width: 250px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    background-color: goldenrod;
    border: 2px rgb(120, 48, 120) dashed;
}

.center{
    width: 600px;
}

li a{
    text-align: center;
    text-decoration: none;
    margin: 0 10px;

}

#logo{
    text-align: left;
}

#login {
    text-align: right;
}

/* proprietà parte centrale */

/* rettangoli */
div.row{
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */
div.row:nth-child(odd){
    background-color: #D3D3D3;
}

#start{
    background-color: #00008B;
}

/* box per il testo iniziale della prima parte */
.text-box{
    height: 400px;
    width: 700px;
    background-color: #EE82EE; 
    border:rgb(120, 48, 120) 2px dashed;
    margin: 45px 0;
}

/* box immagini */

figure.image,
aside.text,
.box{
    margin: 45px 0;
}

div.box-row{
    display:flex;
    justify-content: center;
}

figure.image{
    height: 400px;
    width: 600px;
    background-color: #1E90FF;
    border: rgb(120, 48, 120) 2px dashed;
}

/* box testo affiancato a immagine */
aside.text{
    height: 400px;
    width: 500px;
    background-color: #FFC0CB;
    border: rgb(120, 48, 120) 2px dashed;
}

.reverse{
    flex-direction:row-reverse;
}

/* parte con immagine e testo in basso */

div.box-row{
    background-color: #D3D3D3;
}

.box{
    width: 1100px;
    height: 800px;
    background-color:#228B22;
}

/* regole footer */

footer{
    background-color:#23272A;
}

aside.sidebar,
#nav-footer{
    margin-top: 10px;
    margin-bottom: 25px;
}

div.flex-footer{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

aside.sidebar{
    display: flex;
    height: 600px;
    width: 300px;
    background-color: #F08080;
    border: rgb(120, 48, 120) 2px dashed;
}

#nav-footer{
    display: flex;
    width: 800px;
    height: 600px;
    border:rgb(120, 48, 120) 2px dashed;
}

div.col-footer{
    width: calc(100% / 4);
    background-color: #20B2AA;
    border: rgb(255, 255, 255) 2px dashed;
}




